<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&family=Protest+Strike&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>{{personalInfo.name}} - CV</title>
    <style>
        body {
            font-family: "IBM Plex Mono", monospace;
            line-height: 1.6;
            color: #333;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            /* background-color: rgb(244, 237, 230); */
        }
        .title-name {
            font-family: "IBM Plex Mono", monospace;
            font-weight: 300;
        }
        .job-title {
            font-family: "IBM Plex Mono", monospace;
            font-weight: 250;
        }
        .header {
            /* text-align: center; */
            margin-bottom: 20px;
        }
        .header h1 {
            margin: 0;
            font-size: 28px;
            text-transform: uppercase;
        }
        .header h2 {
            margin: 5px 0 0;
            font-size: 20px;
            text-transform: uppercase;
        }
        .content {
            display: flex;
            gap: 30px;
        }
        .left-column {
            flex: 1;
        }
        .right-column {
            flex: 2;
        }
        .section-title {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .body-text {
            font-family: "IBM Plex Mono", monospace;
            font-weight: 300;
            font-size: 13px;
        }
        .category-title {
            font-family: "IBM Plex Mono", monospace;
            font-weight: 200;
            font-size: 15px;
        }
        .contact-info p {
            margin: 5px 0;
        }
        /* .skills-category {
            {{!-- margin-bottom: 15px; --}}
        } */
        .skills-category h4 {
            margin: 0 0 5px;
            font-weight: bold;
   
        }
        .skills-category ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .skills-category li {
            margin-top: 2px;
        }
        .experience-item {
            margin-bottom: 15px;
        }
        .experience-item h4 {
            margin: 0;
            font-weight: bold;
        }
        .experience-item p {
            margin: 3px 0;
            font-style: italic;
        }
        .experience-item ul {
            margin: 5px 0;
            padding-left: 20px;
        }
        .education {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        .education-item {
            flex: 1;
            display: flex;
            flex-direction: row;
        }
        .education-item h4 {
            margin: 0;
            font-weight: bold;
        }
        .education-item p {
            margin: 3px 0;
        }
        hr {
            border: none;
            border-top: 1px solid #ccc;
            margin: 10px 0;
        }
        /* .background-colorful {
            background-color: rgb(215, 238, 180);
        } */
         .two-columns {
             display: flex;
             flex-direction: row;
         }
         .black-line {
            width: 3px;
            background-color: rgb(167, 10, 20);
            margin: 10px;
         }
         .left-col {
             display: flex;
             flex-direction: column;
             align-items: end;
             width: 140px;
             color:   rgb(167, 10, 20);
         }
         .right-col {
             width: 500px;
         }
         .name {
             font-size: 20px;
             font-weight: bold;
             text-align: end;
             padding-top: 10px;
         }
    </style>
</head>
<body>

    <div class="two-columns" style="margin-top: 20px">
        <div class="left-col">
            <div class="name">{{personalInfo.name}}</div>
           
        </div>
        <div class="black-line"></div>
   
        <div class="contact-info right-col" style="display:flex; flex-direction:column">
             <div class="" style="font-size: 20px; font-weight: bold; margin-top: 20px">{{personalInfo.title}}</div>
             <div style="display: flex;" style="font-size: 8px">
            <span class="body-text" style="margin-right: 10px; font-size: 11px">{{personalInfo.phone}}</span>
            <span class="body-text" style="font-size: 11px">{{personalInfo.email}}</span>
            </div>
        </div>
   
    </div>
    
    <div style="margin-top: 20px">
        <div >
            <div class="two-columns">
                <div class="section-title  left-col">PROFILE</div>
                <div class="black-line"></div>
                <div class="body-text right-col">{{professionalSummary}}</div>
            </div>
        <div class="two-columns" style="margin-top: 20px">
            <div class="section-title background-colorful left-col">EXPERIENCE</div>
            <div class="black-line"></div>
            <div class="right-col">
                {{#each workExperience}}
                <div class="experience-item">
                    <h4 class="category-title">{{jobTitle}}</h4>
                    <p class="body-text">{{company}} | {{startDate}} - {{endDate}}</p>
                    <ul class="body-text">
                        {{#each responsibilities}}
                        <li class="body-text">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
        </div>
        <div >
          
          <div class="two-columns">
            <div class="section-title background-colorful left-col">SKILLS</div>
            <div class="black-line"></div>
            <div class="right-col">
            {{#each skills}}
            <div class="skills-category" style="display:flex; flex-direction:row">
                <div style="display:flex; flex-direction:row">
                <h4 class="category-title" >{{category}}</h4>
                <ul style="display:flex; flex-direction:row">
                    {{#each list}}
                    <li class="body-text" style="margin-left: 10px;">{{this}}</li>
                    {{/each}}
                </ul>
                {{#unless @last}} {{/unless}}
                </div>
                
            </div>
            {{/each}}
        </div>
        </div>  
        <div class="two-columns" style="margin-top: 15px;">
            <div class="section-title background-colorful left-col">EDUCATION</div>
            <div class="black-line"></div>
            <div class="education right-col">
                {{#each education}}
                <div class="education-item">
                    <h4 style="margin-right: 5px">{{institution}}</h4>
                    <p class="body-text">{{degree}}</p>
                </div>
                {{/each}}
        </div>
            </div>
        </div>
        
       
    </div>
</body>
</html>